Progetto/idea
newCode
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/workspace.xml
Progetto_Nuovo/.idea/misc.xml
Progetto_Nuovo/.idea/modules.xml
Progetto_Nuovo/.idea/inspectionProfiles/profiles_settings.xml
Progetto_Nuovo/.idea/workspace.xml
Progetto_Nuovo/.idea/inspectionProfiles/Project_Default.xml
Progetto_Nuovo/.idea/Progetto_Nuovo.iml
Progetto_Nuovo/.idea/vcs.xml
